@model VehicleSearchResult

@{
    ViewData["Title"] = "Ricerca autoveicoli";
}

<h2>Ricerca autoveicoli</h2>

<form asp-action="Index" method="get" class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="brand">Costruttore</label>
                <input class="form-control" placeholder="Inserisci il costruttore" type="text" name="brand"
                       id="brand" value="@Model.BrandFilter" />
            </div>
            <div class="form-group col-md-6">
                <label for="model">Modello</label>
                <input class="form-control" placeholder="Inserisci il modello" type="text" name="model"
                       id="model" value="@Model.ModelFilter" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="plate">Targa</label>
                <input class="form-control" placeholder="Inserisci la targa" type="text" name="plate"
                       id="plate" value="@Model.PlateFilter" />
            </div>
            @{
                var allStateSelected = !Model.StateFilter.HasValue ? "selected" : "";
                var freeSelected = Model.StateFilter.HasValue && Model.StateFilter.Value == iRentCar.VehiclesService.Interfaces.VehicleState.Free ? "selected" : "";
                var busySelected = Model.StateFilter.HasValue && Model.StateFilter.Value == iRentCar.VehiclesService.Interfaces.VehicleState.Busy ? "selected" : "";
                var notAvailableSelected = Model.StateFilter.HasValue && Model.StateFilter.Value == iRentCar.VehiclesService.Interfaces.VehicleState.NotAvailable ? "selected" : "";
            }
            <div class="form-group col-md-6">
                <label for="state">Stato</label>
                <select class="form-control" name="state" id="state">
                    <option value="">Qualsiasi</option>
                    <option value="Free">Disponibile</option>
                    <option value="Busy">Prenotata</option>
                    <option value="NotAvailable">Non utilizzabile</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cerca</button>
    </div>
</form>
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>
                        Targa
                    </th>
                    <th>
                        Modello
                    </th>
                    <th>
                        Costruttore
                    </th>
                    <th>
                        Costo
                    </th>
                    <th>
                        Stato
                    </th>
                    <th>
                        Modified
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Plate, "Details", new { plate = item.Plate })
                        </td>
                        <td>
                            @item.Model
                        </td>
                        <td>
                            @item.Brand
                        </td>
                        <td>
                            @($"{item.DailyCost:###0.00}€")
                        </td>
                        <td>
                            @switch (item.State)
                            {
                                case iRentCar.VehiclesService.Interfaces.VehicleState.Busy:
                                    @: Prenotata
                                    break;
                                case iRentCar.VehiclesService.Interfaces.VehicleState.Free:
                                    @: Disponibile
                                    break;
                                case iRentCar.VehiclesService.Interfaces.VehicleState.NotAvailable:
                                    @: Non Utilizzabile
                                    break;
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Prenota", "Reserve", new { plate = item.Plate }) |
                            @Html.ActionLink("Riconsegna", "Unreserve", new { plate = item.Plate })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <nav aria-label="Page navigation">
            <ul class="pagination nav-justified">
                <li class="page-item @prevDisabled">
                    @Html.ActionLink("Previous", "Index", new { pageIndex = Model.PageIndex - 1, brand = Model.BrandFilter, model = Model.ModelFilter, plate = Model.PlateFilter, state = Model.StateFilter }, new { @class = "page-link " + prevDisabled })
                </li>
                <li class="page-item ">
                    <span class="page-link">@((Model.PageIndex + 1) + "/" + Model.TotalPages + " (" + Model.TotalItems + " items)") </span>
                </li>
                <li class="page-item @nextDisabled">
                    @Html.ActionLink("Next", "Index", new { pageIndex = Model.PageIndex + 1, brand = Model.BrandFilter, model = Model.ModelFilter, plate = Model.PlateFilter, state = Model.StateFilter }, new { @class = "page-link " + nextDisabled })
                </li>
            </ul>
        </nav>
    </div>
</div>